<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />

    <script
      src="https://kit.fontawesome.com/181b0d6791.js"
      crossorigin="anonymous"
    ></script>
    <title>La Touche Parisienne</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">
            <img
              class="logo"
              src="./images/logolatouche_200x200.png"
              alt="product"
            />
          </a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <section class="products">
          <div class="row products">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-4.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Collier</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-3.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Pendentif</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-1.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-1.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-4.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-6.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-5.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img
                  class="medium"
                  src="./images/product-1.png"
                  alt="product"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bagues</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">150€</div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside class="row">
        <ul class="filters">
          <li><a> Collections </a></li>
          <li><a> Parures </a></li>
          <li><a> Couleurs </a></li>
          <li><a> Bagues </a></li>
          <li><a> Boucles d'oreilles </a></li>
          <li><a> Colliers </a></li>
          <li><a> Bracelets </a></li>
        </ul>
      </aside>
      <footer class="row center">
          <section class="upper-footer">

          </section>
          All right reserved
        </footer>
    </div>
  </body>
</html>
