<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>BijouxBijoux</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a href="index.html">BijouxBijoux</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="singin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px  -->
                        <img src="./images/product-1.png" alt="product-1">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> Bagues 6 modèles </h2>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="row center">
        all right reserved
    </footer>
</body>
</html>