/* Generals */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Crimson Pro", Arial, sans-serif;
  width: 80%;
  margin: auto;
}

/* Commons */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #5f5658;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fb9c02;
}

/* Layout */
.grid-container {
  background-color: #fff1cd;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr 50px;
  height: 100%;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  background-color: #f3d99d;
  padding: 1rem;
}
aside {
  /* border: solid #e2dcdc 0.1px; */
  background-color: #faf5ed;
}
aside ul li {
  color: #5f5658;
  display: grid;
  grid-template-rows: 100px 1fr 10px;
}

footer {
  padding: 2rem;
  grid-area: footer;
  color: #ff7893;
}

/* Header */
header a {
  margin: 4rem;
  color: #ff7893;
  font-size: 1.2em;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

/* Image */
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.logo {
  max-width: 200px;
}

/* Card */
.card {
  background-color: #fdf8f1;
  margin: 1rem;
  box-shadow: 0 8px 6px -6px grey;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: #f0c040;
}

/* Rating */
.rating span {
  display: none;
  color: #f0c040;
  margin: 0.1rem;
}
