/* Generals */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f8ebd6;
}
body {
  font-size: 1.6rem;
  min-height:100vh;
  font-family: Helvetica, Arial, sans-serif;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr auto;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #eccb95;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  padding: 2rem;
  grid-area: footer;
  background-color: #eccb95;
  color: #6e323b;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: darkslateblue;
}
a {
  text-decoration: none;
}
a:hover {
  color: #dea241;
}

/* Header */
header a {
  color: #6e323b;
  padding: 1rem;
}
a.brand {
  color: #6e323b;
  font-size: 3rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

/* Image */
img {
  border-radius: 1rem 1rem 0 0;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #d7d0b7 solid;
  background-color: #fdf8f1;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 8px 6px -6px black;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
